body,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
p {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'PingFang SC', -apple-system-font, Helvetica Neue, Helvetica, sans-serif;
}

input,
button,
select,
textarea {
    outline-style: none;
    border: none;
}