//导入文件
@import "base.less";
@import "adapter.less";

.latelyGuess {
  background-color: #f3f3f3;
  //简略信息
  .introduce {
    margin-top: 16/30rem;
    background-color: #fff;
    border-bottom: 1px solid #f3f3f3;
    padding: 0 30/30rem;
    padding-bottom: 15/30rem;
    //标题
    .title {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      padding-top: 20/30rem;
      padding-bottom: 20/30rem;
      span:nth-child(1) {
        -webkit-box-flex: 2;
        -webkit-flex: 2;
        flex: 2;
        font-size: 35/30rem;
        color: #333;
      }
    }
    //人数及时间
    .info {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      font-size: 24/30rem;
      color: #999;
      .time {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        text-align: left;
      }
      .person {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        text-align: right;
      }
    }
  }
  //竞猜信息
  .guessInfo {
    padding-top: 40/30rem;
    padding-bottom: 32/30rem;
    background-color: #fff;
    padding-left: 50/30rem;
    padding-right: 30/30rem;
    height: 226/30rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;

    //队名
    .teamName {
      font-size: 32/30rem;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      flex: 1;
      text-align: left;
    }

    //胜利
    .win {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      flex: 1;
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      align-items: center;
      font-size: 24/30rem;
      color: #666;
      padding-bottom: 38/30rem;
      position: relative;

      //win图标
      .icon {
        width: 46/30rem;
        height: 27/30rem;
        text-align: center;
        line-height: 27/30rem;
        font-size: 16/30rem;
        color: #fff;
        background-color: #000;
        position: absolute;
        top: 10/30rem;
        left: -50/30rem;
      }

      //赔率
      .odds {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        text-align: center;
        span:nth-child(2) {
          font-size: 32/30rem;
          color: #333;
        }
      }

      //投注
      .bet {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        text-align: right;
        button {
          width: 140/30rem;
          height: 48/30rem;
          border-radius: 70/30rem;
          font-size: 26/30rem;
          color: #fedc2f;
          background-color: #0e0e0e;
        }

        .progress {
          background-color: #6d5e88;
          color: #fff;
        }
        .end {
          background-color: #afafaf;
          color: #fff;
        }
      }
    }

    //失败
    .lose {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      flex: 1;
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      align-items: center;
      font-size: 24/30rem;
      color: #666;
      padding-bottom: 38/30rem;

      //赔率
      .odds {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        text-align: center;
        span:nth-child(2) {
          font-size: 32/30rem;
          color: #333;
        }
      }

      //投注
      .bet {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        text-align: right;
        button {
          width: 140/30rem;
          height: 48/30rem;
          border-radius: 70/30rem;
          font-size: 26/30rem;
          color: #fedc2f;
          background-color: #0e0e0e;
        }

        .progress {
          background-color: #6d5e88;
          color: #fff;
        }
        .end {
          background-color: #afafaf;
          color: #fff;
        }
      }
    }

    //平局
    .draw {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      flex: 1;
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      align-items: center;
      font-size: 24/30rem;
      color: #666;

      //赔率
      .odds {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        text-align: center;
        span:nth-child(2) {
          font-size: 32/30rem;
          color: #333;
        }
      }

      //投注
      .bet {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        text-align: right;
        button {
          width: 140/30rem;
          height: 48/30rem;
          border-radius: 70/30rem;
          font-size: 26/30rem;
          color: #fedc2f;
          background-color: #0e0e0e;
        }

        .progress {
          background-color: #6d5e88;
          color: #fff;
        }
        .end {
          background-color: #afafaf;
          color: #fff;
        }
      }
    }
  }
  //规则说明
  .explain {
    padding: 30/30rem;
    border-top: 1px solid #dadada;
    background-color: #fff;
    font-size: 28/30rem;
    color: #999999;
    line-height: 1.4rem;
  }
  //插入图片
  .picture {
    overflow: hidden;
  }
  //各种榜单
  .rank {
    background-color: #fff;
    margin-top: 16/30rem;
    margin-bottom: 26/30rem;
    font-size: 30/30rem;
    color: #999;

    //标题
    .title {
      height: 80/30rem;
      border-bottom: 1px solid #dadada;
      padding: 0 30/30rem;
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;

      span {
        line-height: 80/30rem;
        padding-left: 40/30rem;
      }
      span:nth-child(1) {
        padding-left: 0;
      }
    }

    //最近竞猜信息
    .record {
      display: none;
      padding: 0 30/30rem;
      padding-top: 26/30rem;

      ul {
        margin-bottom: 26/30rem;
        height: 80/30rem;
      }

      li {
        float: left;
        font-size: 28/30rem;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      //头像
      .photo1 {
        width: 80/30rem;
        height: 80/30rem;
        border-radius: 50%;
        overflow: hidden;
        background-color: #f0f0f0;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;

      }

      //用户名
      .name1 {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        width: 240/30rem;

        -webkit-justify-content: center;
        justify-content: center;
      }

      //时间
      .time1 {
        text-align: center;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        width: 150/30rem;
        -webkit-justify-content: center;
        justify-content: center;
      }

      //金钱
      .money1 {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
      }

    }

    //土豪榜以及幸运榜信息
    .record {
      display: none;
      padding: 0 30/30rem;
      padding-top: 26/30rem;

      ul {
        margin-bottom: 26/30rem;
        height: 80/30rem;
      }

      li {
        float: left;
        font-size: 28/30rem;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      //排序
      //前三名
      .num {
        padding-right: 20/30rem;
        font-style: italic;
        color: #666;
      }
      //第4名以后
      .num1 {
        padding-right: 20/30rem;
        font-size: 26/30rem;
        color: #666;
      }
      //头像
      .photo2 {
        width: 80/30rem;
        height: 80/30rem;
        border-radius: 50%;
        overflow: hidden;
        background-color: #f0f0f0;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
      }

      //用户名
      .name2 {
        text-align: center;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        width: 240/30rem;
        -webkit-justify-content: center;
        justify-content: center;
      }
      .money2 {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
      }

    }
    //选中时状态
    .current {
      color: #333;
      display: block;
    }

    .selected {
      display: block;
    }
  }
}