body,ul,li,ol,h1,h2,h3,h4,h5,h6,input,p {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'PingFang SC', -apple-system-font, Helvetica Neue, Helvetica, sans-serif;
}
img {
    width: 100%;
}
input,
button,
select,
textarea {
    outline-style: none;
    border: none;
}
@media (-webkit-min-device-pixel-ratio: 2) {
    .border-bottom::after {
        border-bottom-width: 1px;
    }
    .border:after {
        content: ' ';
        display: block;
        position: absolute;
        top: 0;
        right: -100%;
        bottom: -100%;
        left: 0;
        border: 0 solid #e1e1e1;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        pointer-events: none;
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        width: 200%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
}
a {
    text-decoration: none;
}
.clearfix:after {
    content: " ";
    height: 0;
    line-height: 0;
    clear: both;
    display: block;
    visibility: hidden;
}
.load {
    text-align: center;
    padding: 2.33333333rem 0;
    font-size: 0.93333333rem;
    color: #999;
    text-decoration: none;
    background-color: #f3f3f3;
    margin-bottom: 3.66666667rem;
}
.load .line1 {
    width: 2.53333333rem;
    border-bottom: 1px solid #999;
    float: left;
    padding-top: 0.6rem;
    margin-left: 7.4rem;
}
.load .line2 {
    width: 2.53333333rem;
    border-bottom: 1px solid #999;
    float: right;
    padding-top: 0.6rem;
    margin-right: 7.4rem;
}
@media only screen and (min-device-width: 320px) {
    html {
        font-size: 12.8px;
    }
}
@media only screen and (min-device-width: 360px) {
    html {
        font-size: 14.4px;
    }
}
@media only screen and (min-device-width: 375px) {
    html {
        font-size: 15px;
    }
}
@media only screen and (min-device-width: 400px) {
    html {
        font-size: 16px;
    }
}
@media only screen and (min-device-width: 414px) {
    html {
        font-size: 16.56px;
    }
}
@media only screen and (min-device-width: 768px) {
    html {
        font-size: 30.72px;
    }
}
@media only screen and (min-device-width: 1024px) {
    html {
        font-size: 40.96px;
    }
}

.record {
    padding: 0 1rem;
}

.record .box{
    width: 100%;
    border-bottom: 1px solid #999;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    padding-top: 1.1rem;
    padding-bottom: 0.8rem;
}

.record .box .words{
    padding-left: 1.06rem;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.record .box .words p{
    font-size: 1rem;
    color: #333;
    padding-bottom: 0.4rem;

}

.record .box .words .time{
    font-size: 0.8rem;
    color: #999;
}

.record .box .budget{
    padding-right: 1.06rem;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.record .box .budget span{
    display: block;
    font-size: 1rem;
    color: #333;
    text-align: right;
}

