/*视频标题*/
.video-title {
    padding: 1.3rem 1.6rem;
}

.video-title .title {
    text-align: center;
    font-size: 1.13rem;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.video-title .author {
    padding-top: 0.67rem;
    text-align: center;
    font-size: 0.8rem;
    color: #999;
    position: relative;
}

.video-title .author p {
    display: inline-block;
    vertical-align: middle;
}
.video-title .author p img {
    display: inline-block;
    width: 0.8rem;
    margin-left: 0.5rem;
    margin-right: 0.3rem;
    vertical-align: middle;
}

/*空白条*/
.white-line {
    height: 0.6rem;
    background-color: #f2f3f7;
}

/*更多短视频*/
.video-more {
    padding: 1.8rem 0 0.67rem 0;

}

/*更多视频标题*/
.video-more .more-title {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
}

.video-more .more-title p:nth-child(1) {
    font-size: 1.13rem;
    color: #666;
    padding-bottom: 0.3rem;
}

.video-more .more-title p:nth-child(2) {
    font-size: 0.8rem;
    color: #666;
    padding-bottom: 1.8rem;
}

/*更多视频*/
.video-more .info-videos {
    padding-left: 1rem;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.video-more .info-videos .info-products {
    width: 2000rem;
}

.video-more .info-videos::-webkit-scrollbar {
    display: none;
}

.video-more .info-videos .info-products .info-video {
    width: 11.53rem;
    margin-right: 0.6rem;
    float: left;
}

.video-more .info-videos .info-products a{
    display: block;
}

.info-products .info-video .info-pic {
    height: 8.3rem;
    overflow: hidden;
    position: relative;
}

.info-products .info-video .info-pic img {
    height: 100%;
    width: auto;
    margin-left: -1.5rem;
}

.info-products .info-video .info-pic .info-times {
    vertical-align: middle;
    line-height: 1;
    padding: 0.67rem;
    position: absolute;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    width: 100%;
}

.info-products .info-video .info-pic .info-times img {
    width: 0.8rem;
    margin-left: 0;
    z-index: 9;
}

.info-products .info-video .info-pic .info-times span {
    font-size: 0.8rem;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.info-products .info-video .info-pic .info-times span:nth-child(2) {
    -webkit-box-flex: 7;
    -webkit-flex: 7;
    flex: 7;
    padding-top: 0.1rem;
}

.info-products .info-video .info-pic .info-times span:nth-child(3) {
    -webkit-box-flex: 3;
    -webkit-flex:3;
    flex: 3;
    padding-top: 0.1rem;
}

.info-products .info-video .info-other {
    border: 1px solid #e0e0e0;
    border-top: none;
    text-align: center;
    padding: 0.5rem 0.67rem 1.67rem 0.67rem;
}

.info-products .info-video .info-other .info-title {
    font-size: 1.13rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #333;
}

.info-products .info-video .info-other .info-author {
    font-size: 0.9rem;
    color: #999999;
    padding-top: 1.1rem;
}

/*评论*/
.video-comment {
    padding: 1.8rem 0 0 1rem;
}

/*评论标题*/
.video-comment .comment-title {
    text-align: center;
}

.video-comment .comment-title p:nth-child(1) {
    font-size: 1.13rem;
    color: #666;
    padding-bottom: 0.3rem;
}

.video-comment .comment-title p:nth-child(2) {
    font-size: 0.8rem;
    color: #666;
    padding-bottom: 1.8rem;
}

/*评论的内容*/
.video-comment .comment-content {
    /*padding-bottom: 1.3rem;*/
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    font-size: 1.07rem;
}


.video-comment .comment-content .comment-left {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.video-comment .comment-content .comment-left .user-photo {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #999;
    overflow: hidden;
}

.video-comment .comment-content .comment-right {
    padding-right: 1rem;
    -webkit-box-flex: 6;
    -webkit-flex: 6;
    flex: 6;
}

.video-comment .comment-content .comment-right .user-info .user-name {
    float: left;
    color: #00a1fe;
}

.video-comment .comment-content .comment-right .user-info .comment-time{
    float: right;
    color: #666;
}

.video-comment .comment-content .comment-right .comment-words{
    padding-top: 1.07rem;
    padding-bottom: 1.3rem;
    color: #666;
}

.video-comment .comment-content .comment-right .reply{
    float: left;
    color: #333;
}

/*下部线条*/
.line{
    height:1px;
    margin-left: 3.2rem;
    margin-bottom: 1.3rem;
    background-color: #e0e0e0;
}

/*打开APP,更多评论*/
.turnUp{
    width:22.67rem;
    height: 3.67rem;
    line-height: 3.67rem;
    background-color: #f95a29;
    color: #fff;
    font-size: 1.06rem;
    text-align: center;
    margin:0 auto;
}

.turnUp a{
    display: block;
    color: #fff;
}

/*APP商店下载*/
.download-market{
    padding: 4.67rem 1rem;
    margin-bottom: 3.67rem;
    text-align: center;
}

.download-market .app-name img{
    width:8.87rem;
}

.download-market .app-words{
    font-size: 1.07rem;
    color: #999;
    margin-top: 1.67rem;
    margin-bottom: 1.67rem;
}

.download-market .app-store{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.download-market .app-store a{
    display: block;
}

.download-market .app-store img{
    height:3.2rem;
    width: 10.8rem;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.download-market .app-store .ios{
    margin-right: 1.3rem;
}

/*点击下载APP*/
.download-app{
    position: fixed;
    bottom: 0;
    background-color: #000;
    opacity: 0.9;
    color: #ffffff;
    padding: 0.5rem 1rem;
    width:100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.download-app span img{
    display: inline-block;
    vertical-align: middle;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.download-app .app-name{
    -webkit-box-flex: 5;
    -webkit-flex: 5;
    flex: 5;
}
.download-app .app-name span:nth-child(1){
    font-size: 0.93rem;
    margin-left: 0.67rem;
}

.download-app .app-name .description span{
    font-size: 0.73rem;
}

.download-app span img{
    width: 2.67rem;
    height: 2.67rem;
    border-radius: 0.3rem;
    overflow: hidden;
}

.download-app .download-btn{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    margin-top: 0.3rem;
    margin-left: -33rem;
}
.download-app .download-btn a{
    display: block;
    vertical-align: middle;
    color: #fff;
    width: 7rem;
    height: 2.5rem;
    text-align: center;
    line-height: 2.5rem;
    font-size: 0.9rem;
    padding-left: -2rem;
    background-color: #f95a29;
}