.undefined .undefined-pic{
    height: 6rem;
    width: 11.67rem;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -5.84rem;
    margin-top: -9rem;
}

.undefined .undefined-words{
    margin-top: 26rem;
    font-size: 1.06rem;
    color: #999;
    text-align: center;
}
