*{
    margin: 0;
    padding: 0;
    list-style: none;

}
html{margin:0;
    width: 100%;
     height:100%;
   }
body{
    margin: 0;
    width: 100%;
    height:100%;
    position: fixed;

   }
.alltitle{
    width: 100%;
    height: 0.89rem;
    background-color: black;
}
.leftnav{
    float: left;
     position:absolute;
    width: 2.1rem;
    height:15.79rem;
    border-right:1px solid #242424 ;
    background-color: #1A1A1A
}
.leftnav ul li{
    text-align: center;
     height: 1.2rem;
    width: 100%;
    line-height: 1.2rem;
    color: #3A3A3A;
    font-size:14px;
    border-top: 1px solid black;
}
.leftnav ul li:nth-child(1){
    height: 3rem;
}
.active{
    background-color:#171717;
    color: white!important;
}
.righthead{
    height: 1.06rem;
   width: 19.75rem;

    background-color: #1A1A1A;
    overflow: hidden;

}
.righthead ul{
    margin-top: 0.28rem;
    overflow: hidden;
}
.righthead ul li:nth-child(1){
    color: blue;
    font-size:16px;
    font-weight: 700;
}
.righthead ul li:nth-child(2){
    height: 0.56rem;

    color: white;
    font-size:16px;
    font-weight: 700;
    margin-left: 0.2rem;
    /*border-left: 2px solid blue;*/
}
.righthead ul li:nth-child(3){
    float: right;
    color: blue;
    font-size:16px;
    font-weight: 700;
}
.righthead ul li{
    float: left;

}
.righthead i{
    color: #525252;
}
.userin{
    color: #E94440;
    margin-top: 0.7rem;
    font-size: 1.2rem;
    display: block;
}
.username{
    font-size: 14px;
}
.rightbox{
    width: 19.75rem;
    margin-left: 2.1rem;
    height: 15.79rem;
    /*background-color: red;*/
    overflow: hidden;
}
.content{
    width: 100%;
    height: 14.73rem;
    background-color: black;
    overflow: hidden;
    position:relative;
}
.c-left{
    float: left;
    overflow: hidden;
    width: 5rem;
    height: 100%;
    background-color: #171717;
    overflow: hidden;
}
.left-top{
    width: 100%;
    height: 5.6rem;

    overflow: hidden;
}
.c-title{
    font-size: 14px;
    margin-top:0.82rem;
    margin-left: 0.34rem;
    color: #489F4C;

}
.font-11{
    font-size: 11px;
}
.c-select{
    width: 2.8rem;
    border: none;
    height: 0.55rem;
}
.c-inputleft{
    margin-left: 0.34rem;
    margin-top: 0.69rem;
    color: #525252;
}
.c-inputleft select{
    background-color: black;
    color: white;
}
.c-inputleft-tow select{
    background-color: black;
    color: white;
}
.c-inputleft-tow{
    margin-left: 0.34rem;
    margin-top: 0.52rem;
    color: #525252;
}
.ctop-end{
    text-align: center;
    height: 0.73rem;
    margin-top: 0.58rem;
}
.ctop-end button{
    width: 1.95rem;
    height: 0.73rem;
    border-radius: 0.1rem;
    border-color: #489F4C;
    border: none;
    background-color:#489F4C;
    color: white;

}
.left-top{
    border-bottom: 1px solid #525252;
}
.left-bonttom{
    float: left;
    width: 2.45rem;
    height: 100%;
    /*background-color: pink;*/
    border-right: 1px solid #525252;
    overflow: hidden;
}
.left-bonttom li{
    margin-top: 0.26rem;
    text-align: center;
    font-size: 24px;
    height: 0.91rem;
}
.left-bonttom button{
    width:1.97rem;
    height:0.73rem ;
    border-radius: 0.1rem;
    border-color: #210E0B;
    border: none;
    background-color:#210E0B;
    color: #535353;
}
.left-bonttom i{
     float: left;
    margin-left: 0.3rem;
}
.c-leftactive button{
    background-color: #E94440;
    color: white;
}
.m-l-7{
    margin-left: 0.4rem;
}
.right-bonttom{
    /*background-color:pink;*/
    float: left;
    width: 2.51rem;
    height: 100%;
    /*background-color: pink;*/
   
    overflow: hidden;
}
.right-bonttom li{
    text-align: center;
    line-height: 1rem;
    width: 100%;
    height: 1rem;
    background-color:#171717;
    font-size:0.3rem;
    color:#535353 ;
}
.right-bonttom li:nth-child(2){
    border-top: 1px solid  #525252;
}
.right-bonttom li:nth-child(3){
    border-top: 1px solid  #525252;
}
.rightli-active{
    background-color: black!important;
    color: white!important;
    border-right: 1px solid black;
}
.m-r-19{
    margin-right: 0.41rem;
}
.c-right{
    position: absolute;
  bottom: 0;
    right: 0;
    float:left;
    width:14.56rem;
     height: 14.32rem;
    background-color:#171717;
    overflow: hidden;

}
.box-left{
    width: 1.89rem;
     position: absolute;
    background-color: #171717;
    margin-top: 1.847rem;
}
.box-left ul{
    clear: both;
}
.box-left li{
    text-align: center;

    width: 100%;
    font-size: 24px;
    height:1.08rem ;
    /*background-color:red;*/
}
.box-left span{
    font-size: 12px;
    display: inline-block;
    height: 0.54rem;
    width:1.78rem ;
    background-color: black;
    color: #535353 ;
    border-radius: 1rem;
}
.box-right{
    position: absolute;
    width: 12.76rem;
    height: 100%;
    overflow: hidden;
    margin-left:1.89rem ;
    background-color:#171717;
}
.right-smallbox{
    width:100rem;
    position: relative;
    clear: both;
    height:13.8rem ;
}
.right-smallbox .move{
    position: absolute;

}
.out-ul{


}
.lisheight{
    font-size: 12px;
    float: left;
    display: inline-block;
    width: 1.08rem;
    background-color:#171717;
    text-align: center;
}
.titleout{

    text-align: center;
    margin: 0 auto;
    writing-mode:tb-rl;
    display: inline-block;
    font-size: 12px;
    width: 0.54rem;
    height:1.83rem ;
    background-color: black;
    color: #535353 ;
    border-radius: 1rem;
}
.outlist{

}
.outlist li{
    width: 1.08rem;
    height: 1.08rem;
    background-color: black!important;
    position: relative;
}
.contentspan{
    position: absolute;
    border-radius: 0.1rem;
    bottom: 0;
    right: 0;
    display: inline-block;
    width: 0.91rem;
    height: 0.91rem;
    background-color:#171717;
}
.out-ul li:last-child ul{

}

.c-select option{
    width: 10px;
}