<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>表单控件(v-bind)</title>
    <script src="../node_modules/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <!--复选框-->
    <input type="checkbox" v-model="toggle" v-bind:true-value="a" v-bind:false-value="b">
    <br>
    <span>{{toggle}}</span>
    <!--单选按钮-->
    <input type="radio" v-model="pick" v-bind:value="a">
    <!--选择列表设置-->
    <select v-model="selected">
        <!--内联对象字面量-->
        <option v-bind:value="{number:123}">123</option>
    </select>
</div>
<script>
    var vm = new Vue({
        el: "#app",
        data: {
            toggle: "",
            // 选中时,vm.toggle === vm.a
            // 当没选中时,vm.toogle === vm.b
            a: true,
            b: false,
            pick: "",
            selected:" "
        }
    })

</script>
</body>
</html>