<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>基础用法</title>
    <script src="../node_modules/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <!--文本-->
    <input type="text" v-model="message" placeholder="edit me">
    <p>Message is:{{message}}</p>
    <!--多行文本-->
    <span>Multiline message is :</span>
    <p style="white-space: pre">{{msg}}</p>
    <br>
    <textarea v-model="msg" placeholder="add multiple lines"></textarea>
    <br>
    <!--复选框-->
    <input type="checkbox" v-model="checked" id="checkbox">
    <label for='checkbox'>{{checked}}</label>
    <br>
    <!--多个选择框,绑定到同一数组-->
    <input type="checkbox" v-model="checkedNames" id="jack" value="Jack">
    <label for='checkbox'>Jack</label>
    <input type="checkbox" v-model="checkedNames" id="john" value="John">
    <label for='checkbox'>John</label>
    <input type="checkbox" v-model="checkedNames" id="mike" value="Mike">
    <label for='checkbox'>Mike</label>
    <br>
    <span>Checked names : {{ checkedNames }}</span>
    <br>
    <!--单选按钮-->
    <input type="radio" value="One" id="one" v-model="picked">
    <label for="one">One</label>
    <br>
    <input type="radio" value="Two" id="two" v-model="picked">
    <label for="one">Two</label>
    <br>
    <span>Picked : {{picked}}</span>
    <br>
    <!--选择列表-->
    <select v-model="selected">
        <option>A</option>
        <option>B</option>
        <option>C</option>
    </select>
    <br>
    <span>Selected id : {{selected}}</span>
    <br>
    <!--多选列表(绑定到一个数组)-->
    <select v-model="selecteds" multiple style="width: 50px">
        <option>A</option>
        <option>B</option>
        <option>C</option>
    </select>
    <br>
    <span>Selected id : {{selecteds}}</span>
    <br>
    <!--动态选项-->
    <select v-model="selectedSecond">
        <option v-for="option in options" v-bind:value="option.value">
            {{option.text}}
        </option>
    </select>
    <br>
    <span>Selected id : {{selectedSecond}}</span>
    <br>
</div>
<script>
    var vm = new Vue({
        el: "#app",
        data: {
            message: "",
            msg: "",
            checked: false,
            checkedNames: [],
            picked: " ",
            selected: null,
            selecteds: [],
            selectedSecond: "A",
            options: [
                {text: "One", value: "A"},
                {text: "Two", value: "B"},
                {text: "Three", value: "C"}
            ]
        }
    })
</script>
</body>
</html>