.strategy {

}

a {
    display: block;
}

/*人物信息*/
.person {
    margin: 1.3rem 1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.person .person-info {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.person .person-info .person-pic {
    float: left;
    width: 3.33rem;
    height: 3.33rem;
    border-radius: 0.3rem;
    overflow: hidden;
}

.person .person-info .person-name {
    padding-left: 3.83rem;
    height: 3.33rem;
}

.person .person-info .person-name .name {
    font-size: 1.13rem;
    color: #333;
}

.person .person-info .person-name .person-date {
    margin-top: 0.7rem;
    font-size: 0.93rem;
    color: #999;
}

.person .up-down {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    text-align: right;
}

.person .up-down .tags p {
    float: right;
    text-align: center;
    width: 2.67rem;
    height: 1.33rem;
    border-radius: 0.3rem;
    color: #fff;
    background-color: #fd591b;
    font-size: 0.93rem;
}

.person .up-down .win-rate {
    margin-top: 0.7rem;
    color: #fd591b;
    font-size: 0.93rem;
}

/*一级标题*/
.page-title {
    margin-left: 1rem;
    margin-right: 1rem;
}

.page-title h3 {
    font-size: 1.67rem;
    color: #333;
}

/*文章内容*/
.paragraph h4 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.26rem;
    color: #333;
}

.paragraph {
    margin: 0 1rem;
}

.paragraph p {
    margin-bottom: 1rem;
}

.paragraph .play-video {
    margin-bottom: 1rem;
}

.paragraph .play-image {
    margin-bottom: 1rem;
}

/*分享图标*/
.shareMethods {
    margin: 3rem 1.67rem 2.3rem 1.67rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.shareMethods a {
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.shareMethods .shareWays img {
    width: 2.67rem;
    height: 2.67rem;
    clear: both;
    display: block;
    margin: auto;
}

/*空白条*/
.white-space {
    height: 0.6rem;
    background-color: #f3f3f3;
}

/*更多内容*/
.person-more {

}

.person-more .more-title {
    margin: 0 1rem;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.1rem;
    color: #666;
}

.person-more .more-content {
    border-bottom: 1px solid #f3f3f3;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.person-more .more-content .more-left {
    padding-left: 1rem;
    padding-right: 0.5rem;
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    flex: 2;
}

.person-more .more-content .more-left .content-title {
    font-size: 1rem;
    color: #333;
}

.person-more .more-content .more-left .more-personInfo {
    font-size: 0.8rem;
    color: #999;
    margin-top: 1.33rem;
}

.more-left .more-personInfo .name {
    float: left;
    margin-right: 0.5rem;
}

.person-more .more-content .more-right {
    padding-right: 1rem;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    position: relative;
}

.person-more .more-content .more-right .play-btn img {
    width: 2.33rem;
    height: 2.33rem;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -1.5rem;
    margin-top: -1.3rem;
}